<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>GeekLearning</title>
      <link href="../static/style.css" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
   </head>
   <body>
      <div class="wrap">
         <div class="content">
            <h1>Is it Anime, Cartoon, or Pokemon?</h1>
            <form method="POST" enctype="multipart/form-data">
               <div>
                  <label for="image_uploads" id="upload_label">Upload an image for prediction (PNG, JPG, JPEG, GIF)</label>
                  <input type="file" id="image_uploads" name="image_uploads" accept=".jpg, .jpeg, .png, .gif">
               </div>
               <div class="preview">
                  <p>No files currently selected for upload.</p>
               </div>
               <fieldset>
                  <legend>Select a classifier:</legend>
                  {% for key, value in  model_names.items() %}
                     <input type="radio" id={{ key }} name="model-choice" value={{ key }} checked="checked">{{ value }}</input>
                  {% endfor %}
               </fieldset>
               <div>
                  <button type="submit">Predict!</button>
               </div>
            </form>
            <p>
               Models were trained with 64x64 RGB images.<br>
               Try an image with a bigger size (bigger than 64x64) for better results.<br>
               The height and the width of the uploaded image need not be the same.<br>
               <a href="https://github.com/SonAlexLe/GeekLearning">Check out my Github repo</a>
            </p>
            <script>
               const input = document.querySelector('#image_uploads');
               const preview = document.querySelector('.preview');
               input.style.opacity = 0;
               input.addEventListener('change', updateImageDisplay);
               function updateImageDisplay() {
                  while(preview.firstChild) {
                     preview.removeChild(preview.firstChild);
                  }

                  const curFiles = input.files;
                  if(curFiles.length === 0) {
                     const para = document.createElement('p');
                     para.textContent = 'No files currently selected for upload.';
                     preview.appendChild(para);
                  } else {
                     const list = document.createElement('ul');
                     preview.appendChild(list);

                     for(const file of curFiles) {
                        const listItem = document.createElement('li');
                        const para = document.createElement('p');
                        if(validFileType(file)) {
                           para.textContent = `File name: ${file.name}, file size: ${returnFileSize(file.size)}.`;
                           const image = document.createElement('img');
                           image.src = URL.createObjectURL(file);

                           listItem.appendChild(image);
                           listItem.appendChild(para);
                        } else {
                           para.textContent = `File name ${file.name}: Not a valid image type. Update your selection.`;
                           listItem.appendChild(para);
                        }

                        list.appendChild(listItem);
                     }
                  }
               }
               const fileTypes = [
                  "image/apng",
                  "image/bmp",
                  "image/gif",
                  "image/jpeg",
                  "image/pjpeg",
                  "image/png",
                  "image/svg+xml",
                  "image/tiff",
                  "image/webp",
                  "image/x-icon"
               ];

               function validFileType(file) {
                  return fileTypes.includes(file.type);
               }

               function returnFileSize(number) {
                  if(number < 1024) {
                     return number + 'bytes';
                  } else if(number >= 1024 && number < 1048576) {
                     return (number/1024).toFixed(1) + 'KB';
                  } else if(number >= 1048576) {
                     return (number/1048576).toFixed(1) + 'MB';
                  }
               }
            </script>
         </div>
      </div>
   </body>
</html>